venv/
.env
contacts.json
sent_messages.json
auth.db
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/
*.pkg
AWSCLIV2.pkg

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
